@charset "utf-8";

body {
	padding-right: 0 !important;
	overflow-y:scroll !important;
	font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}

.top{
	display:flex;
	position:fixed;
	width:100%;
	color:white;
	background-color:#000;
	top:0;
	left:0;
	height:5%;
}

.table{
	margin-top:4%;
}

.col{
	left:0;
	display:flex;
	margin-top:20px;
	background: rgba(0,0,0,0.1);
    border-radius: 5px;
    height: 50px;
}

.wid-15{
	text-align:center;
	width:15%;
	margin:auto;
}

.wid-3{
	text-align:center;
	width:3%;
	margin:auto;
}

button{
	border:none;
}